

/* Resetting default browser styles */
html, body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #E8C1C5;
}

/* Basic styling for header */
h1 {
    background-color: #011638;
    color: white;
    padding: 10px 20px;
    text-align: center;
}
/*Navigation bar styling*/
li{
    float: left;
    
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
ul{
    font-size: 29px;
    color: black;
    list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}
.active{
    background-color: #011638;
}



/* Styling for navigation */
#textInput{
    padding: 10px;
    width: 80%;
    height: 100px;
    text-align: left;
    vertical-align: text=top;
    flex:1 ;
}
#givenText{
    text-align: center;
    
}
.center{
    text-align: center;
}
#ajaxButton{
    width: 20%;
    height: 20%;

}

/* Styling for main content */
.main-content {
    padding: 20px;
    max-width: 800px;
    margin: auto;
    flex: 1;
    
}



/*
color pallete 
#011638
#2E294E
#9055A2
#D499B9
#E8C1C5
*/